














*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  height: 100%;
}

body{
  background-color: #602824;
  background-image: url(../img/BG_pattern.png);
  background-repeat: repeat;
}



/* Стили для бургер-меню */
.wrapper {
    height: 100%;
    width: 100%;
  }
  
  .wrapper{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #eee;
  }
  
  .open{
    display: flex !important;
  }
  
  .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100px;
    padding: 0 40px;
  }
  
  .logo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid #FFE2B2;

    padding: 5px 10px;
    color: #FFE2B2;

    margin-left: 3%;

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  


  /* Бургер меню если будет нужно */

  /* .nav{
    display: flex;
    width: 700px;
    padding: 0 40px;
  }
  
  .nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  
  .burger{
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;

    margin-right: 3%;
  }
  
  .burger span{
    height: 2px;
    width: 80%;
    transform: scale(1);
    background-color: #FFE2B2;
  }
  
  .burger::before, .burger::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #FFE2B2;
    transition: all 0.3s ease 0s;
  }
  
  .burger::before { top: 0 }
  
  .burger::after { bottom: 0 }
  
  
  /* Добавляем класс active для анимации иконки бургера 
  .burger.active span { 
    transform: scale(0);
  }
  
  .burger.active::before{
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
  }
  
  .burger.active::after{
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
  }
  
  
  /* При разрешении экрана 900px и ниже, выводим на экран иконку бургера 
  
  @media (max-width: 750px) {
  
    .burger { display: flex }
  
    .nav{
        display: none;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0; bottom: 0; left: 0; right: 0;
        z-index: 50;
        overflow-y: auto;
        padding: 50px 40px;
        background-color: black;
        animation: burgerAnimation 0.4s;
    }
  
    .nav ul{
        flex-direction: column;
        row-gap: 30px;
    }
  }
  
  @keyframes burgerAnimation {
    from {opacity: 0}
    to {opacity: 1}
  } */






  /* Header */

.header{
  background-color: #602824;
  border-bottom: #FFE2B2 solid;
  display: flex;
  justify-content: space-between;
}

/* .header_holder{
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid #fff;
    padding-bottom: 30px;           
} */



  /* Стили для элемента меню */

/* nav a {
    color: #FFE2B2;
    margin-right: 50px;
    text-decoration: none;

    font-size: 18px;

    transition: color 0.2s ease;
}

nav a:last-of-type {
    margin-right: 0;
}

nav a:hover {
    color: #fff;
} */




/* Кнопка */

.btn{
  display: block;
  text-decoration: none;
  color: #9f322a;
  background-color: #FFE2B2;
  border-radius: 24px;
  text-align: center;

  font-size: 14px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  transition: color linear 0.2s;

  padding: 7px 14px;

  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.btn:active{
  scale: 1.1;
  transition: 0ms;
}


/* Стили для JS */

.scale{
  scale: 1.5;
  transition: 1s;
}


.none, .none2, .none3, .none4, .none5, .none6, .none7{
  display: none;
}












/* Универсальные классы, задающиеся для многих элементов */

.title{
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #FFE2B2;
  font-size: 18px;
  font-family: "Oranienbaum";
  letter-spacing: 3px;

  padding-top: 15px;
  padding-bottom: 15px;

  border-top: #FFE2B2 solid;

  display: flex;
}


h2{
  margin-right:  auto;
  margin-left: auto;
}

.arrow, .arrow2, .arrow3, .arrow4, .arrow5, .arrow6, .arrow7{
  width: 30px;
  height: auto;

  margin-right: 10%;
}

@keyframes colorChang {
  0% {
    background-color: #602824;
}

50% {
  background-color: #8d302a;
}

100% {
    background-color: #742d28;
}
}


.arrow img, .arrow2 img, .arrow3 img, .arrow4 img, .arrow5 img, .arrow6 img, .arrow7 img{
  scale: 1.6;
  border-radius: 20px;
  animation: colorChang 2s infinite alternate;

  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.arrow img:active, .arrow2 img:active, .arrow3 img:active, .arrow4 img:active, .arrow5 img:active, .arrow6 img:active, .arrow7 img:active {
  scale: 2;
}


.service .title{
  border: none;
}

.under_title{
  color: #FFE2B2;
  font-size: 20px;
  text-align: center;

  padding-top: 15px;
  margin-bottom: 15px;
  border-top: #FFE2B2 dashed;
}

p{
  color: ivory;
  font-family: "Kurale";

  margin-bottom: 3px;
}


.text{
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}




/* Услуги */

  .service .title h2{
    display: inline-block;
  }


  /* Стоимость Услуг */
  



/* Блок Контакты */

span.tg{
  color: #3DBDFF;
}

span.wts{
  color: #92F172;
}

.QRs{
  margin-top: 20px;
  margin-bottom: 20px;
}
.QR{
  margin-bottom: 20px;
}
.QR img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text_contacts{
  text-align: center;
  margin-top: 10px;
}

.contacts .title{
  border-bottom: #FFE2B2 solid;

  margin-bottom: 0px;
}

@keyframes colorChange {
  0% {
    color: #FFE2B2; /* Вернемся к цвету Telegram */
}
  35% {
      color: #9fdfff; /* Цвет эмблемы Telegram */
  }
  70% {
      color: #a4ffc5; /* Цвет эмблемы WhatsApp */
  }
  90% {
      color: #FFE2B2; /* Вернемся к цвету Telegram */
  }
}

.animation {
  animation: colorChange 4s infinite; /* Длительность анимации 3 секунды, бесконечно */
}


/* Блок Примеры Работ */

.pictures{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, 120px);
  justify-content: center;
  justify-items: center;
  margin: 0 auto;
  column-gap: 10px;
  row-gap: 10px;
}


/* Блок Обо Мне */

.text_about a{
  color: #FFE2B2;
}

/* Footer */

.footer{
  background-color: #742d28;
  max-height: 110px;
  height: 70px;
  flex-shrink: 0;

  margin-bottom: 0;
}

p.footer{  
  color: #f0d334;

  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}






/* Адаптация */


/* Адаптация по высоте */

@media (min-height: 706px) {
  .footer{
    height: 100vh;
  }
}

@media (max-height: 695px) and (max-width: 410px) {
  .title{
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .footer{
    height: 100vh;
  }
}

@media (max-height: 640px) and (max-width: 410px) {
  .title h2{
    font-size: 22px;
  }

  .footer{
    height: 100vh;
  }
}

@media (max-height: 580px) and (max-width: 410px) {
  .title{
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .footer{
    height: 100vh;
  }
}




/* Маленький экран телефона в высоту */

@media (max-width: 270px) {

  .title h2{
    font-size: 22px;
  }

  .btn{
    font-size: 13px;
  }

  .logo{
    font-size: 14px;
    
    margin-right: 20px;
  }

  .wrapper{
    text-align: center;
    
    align-items: center;
  }
}

@media (max-width: 280px) {
  .button{
    margin-left: 20px;
  }
}



/* Горизонтальный */

@media (min-width: 410px) {
  .title h2 br{
    display: none;
  }
}

@media (min-width: 425px)  {
  
  .QRs{
    display: flex;
    justify-content: center;
  }

  .QRs{
    justify-content: center;
  }

  .QR {
    width: 33%;
  }

  
}

@media (min-width: 450px){
p.footer{
  font-size: 20px;
}
.arrow,.arrow2,.arrow3,.arrow4,.arrow5,.arrow6,.arrow7{
  scale: 1.2;
}
.pictures{
  margin-top: 20px;
  margin-bottom: 15px;
}
}




@media (min-width: 630px) {
  .button{
    margin-right: 10%;
  }

  .arrow,.arrow2,.arrow3,.arrow4,.arrow5,.arrow6,.arrow7{
    margin-right: 17%;
    scale: 1.33;
  }

  .title h2{
    letter-spacing: 8px;
  }
  

  .text_service,.text_prices_left,.text_prices_right,.text_prices_cat,.text_prices_dop{
    margin-left: 50px;
  }

  .btn br{
    display: none;
  }

  .btn{
    display: flex;
    font-size: 20px;
    padding: 10px 15px;
  }


  
}
